body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}


button {
    width: 100px;
    margin: 20px;
    height: 30px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

#food-input-box {
    /* background-color: aqua; */
    margin-left: 30%;
    margin-top: 5%;
    font-size: larger;
}



#client-info {
    /* background-color: aqua; */
    margin-left: 30%;
    margin-top: 5%;
    font-size: larger;
}


#submit-button {
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 20px;
    width: 10%;
    height: 50px;
}



